
<div class="parent">
    <div class="child">
        <div class="left">
            <img src="{{account.profile_picture}}" alt="" width="250px" height="300px">
           
            </div>
        </div>account
        <div class="right">
            <h1>Accountant Name:{{account.account_name}}</h1>
            <h1>Balance:{{account.available_balance}}</h1>
            <h1>ACC Number:{{account.account_number}}</h1>
            <h1>City:{{account.city}}</h1>
          
        </div>
    </div>
