<h1>create user form</h1>
<form [formGroup]="userForm">
    <label >Name:</label>
    <input type="text" formControlName="name">
    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
        <p class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is required</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']">Name should contain minimum</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']">Max 10 chars only allowed</p>
      </div>
    <br>
    
    <label >Age:</label>
    <input type="text" formControlName="age">
    <br>
    
    <label >phone:</label>
    <input type="number" formControlName="phone">
    <br>

    <div formGroupName="address">

    <label >hno:</label>
    <input type="text" formControlName="hno">
    <br>
    <label >city:</label>
    <input type="text" formControlName="city">
    <br>
    <label >pincode:</label>
    <input type="number" formControlName="pincode">
    <br>
    </div>
    <label >type:</label>
    <input type="radio"  name="type" formControlName="type" value="dayscholar">
    <label >day scholar:</label>
    <input type="radio" name="type" formControlName="type" value="residential" >
    <label >residential</label>
    <br>
    <div *ngIf="userForm.get('type')?.value=='dayscholar'"  >
    <label>busfee:</label>
    <input type="text" formControlName="busfee">
    <br>
</div>
<div *ngIf="userForm.get('type')?.value=='residential'">
    <label>hostel fee</label>    
    <input type="text" formControlName="hostelfee">   
    <br>    
</div>
<button (click)="addcard()">add card</button>

  

    <div  formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls;let i=index"formGroupName="{{i}}" >
            <label>Number:</label>
            <input type="number" formControlName="number">
            <div *ngIf="cardsFormArray.controls[i]?.get('number')?.touched && cardsFormArray.controls[i]?.get('number')?.invalid ">
                <p class="error" *ngIf="cardsFormArray.controls[i]?.get('number')?.errors?.['required']">Numberis required </p>
                <p class="error" *ngIf="cardsFormArray.controls[i]?.get('number')?.errors?.['min']">Min 12 Numbers</p>
                <p class="error" *ngIf="cardsFormArray.controls[i]?.get('number')?.errors?.['max']"> max 12 Number</p>

            </div>
 

            <!-- <p>touched: {{ userForm.get('name')?.touched}}</p>
            <p>untouched: {{ userForm.get('name')?.untouched}}</p>
            <p>pristine: {{ userForm.get('name')?.pristine}}</p>
            <p>dirty: {{ userForm.get('name')?.dirty}}</p>
            <p>valid: {{ userForm.get('name')?.valid}}</p>
            <p>invalid: {{ userForm.get('name')?.invalid}}</p> -->
            <br>
            <label>Expiry:</label>
            <input type="month" formControlName="expiry">
            <br>
            <label> CVV:</label>
            <input type="number" formControlName="cvv">
            <br>
            <button class="btn btn-danger" (click)="deletecard(i)">Delete</button>
            <hr>
        </div>
        <!-- <label >Project type:</label>
    <input type="radio"  name="type" formControlName="type" value="project manager">
    <label >internal:</label>
    <input type="radio" name="type" formControlName="type" value="client company" >
    <label >external</label>
    <br>
    <div *ngIf="userForm.get('type')?.value=='project manager'"  >
    <label>internal:</label>
    <input type="text" formControlName="internal">
    <br>
</div>
<div *ngIf="userForm.get('type')?.value=='client company'">
    <label>external</label>    
    <input type="text" formControlName="external">   
    <br>    
    </div> -->
    <button (click)="submit()">submit</button>





