<p>students works!</p>
<div class="parent">
    <div class="child">
        <h1>Student Registration</h1>
        <br>
       
        <br>  
        <label for="">Name</label>
        <input type="text" name="" id="name"[(ngModel)]="name">
        <br>
        <label for="">Marks</label>
        <input type="number" name="" id="marks" [(ngModel)]="marks">
        <br>
        <label for="">Fee</label>
        <input type="number" name="" id="fee" [(ngModel)]="fee">
        <br>
        <button (click)="register()" >Register</button>
        
        <h2>All Students</h2>
       
        <button (click)="pendingfee()" >Pendingfee</button>
        <button (click)="lowtohigh()" >LOW TO HIGH</button>
        <button (click)="hightolow()" >HIGH TO LOW</button>
        <button (click)="salutation()" >Salutation</button>
        <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Marks</th>
                <th>Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students; let i = index">
                <td> {{student.name}} </td>
                <td> {{student.marks}} </td>
                <td> {{student.fee  | balance}} </td>
                <td><button (click)="delete(i)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>